.board {
    width: fit-content;
    margin: auto;
}
.rows {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.columns {
    display: flex;
    flex-direction: row;
    gap: 3px;
}
footer {
    margin-top: 10px;
}
