.cell {
    width: 30px;
    height: 30px;
    background-color: rgb(20, 30, 179);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.cell:hover {
    background-color: rgb(58, 70, 234);
}

.cell.open {
    background-color: blueviolet;
}
.cell.open.mine-clicked {
    background-color: rgb(226, 43, 67);
}
.cell.open.is-mine{
    /* transition: all 0.3s linear; */
    /* opacity: 0.5; */
    /* filter: grayscale(1); */
    /* background-color: blueviolet; */
    /* color:transparent; text-shadow: 0 0 0 lightgray; */
}