@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
.App {
  text-align: center;
  background-color: #fff;
  min-width: 65vw;
  max-width: fit-content;
  padding: 2vw;
  border-radius: 20px;
  margin: 20px auto;
  -webkit-box-shadow: 4px -1px 20px 0px rgba(82,27,65,0.64);
    -moz-box-shadow: 4px -1px 20px 0px rgba(82,27,65,0.64);
    box-shadow: 4px -1px 20px 0px rgba(82,27,65,0.64);
}
body {
  background-color: rgb(236, 227, 244);
}
#title{
  font-family: 'Vast Shadow', cursive;
}
@media only screen and (max-width: 600px) {
  .App {
    width: 92vw;
  }
}



